<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="card mt-5">
            <div class="card-header">
                Criação de Usúario
            </div>
            <div class="card-body">
                <form method="POST" action="/users/create">
                    <input class="form-control" name="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" type="password" name="password" placeholder="*****"><br>
                    <button type="submit" class="btn btn-success btn-block">Criar</button>
                </form>
            </div>
        </div>
    </div>
</body>


<%- include('../../partials/footer.ejs') %>